.ifDevice{
    display:none;
}
iframe{
    width:"560";
    height:"315";
}

@media screen and (max-width:768px){
    .ifDevice{
        display:block;
    }
    iframe{
        width:"320";
        height:"180";
    }
}